@import '../../styles/base.scss';

.container {
  @include directionX;
  .title {
    font-size: 22px;
  }
  .box {
    @include card;
    background-color: $color-primary-blue;
    .title {
      color: blue;
      font-size: 22px;
    }
  }
  .button {
    @include button;
  }
}